* {
    padding: 0;
    margin: 0;
}
body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(83,23,196), rgb(101,33,206));
    font-family: sans-serif;
}
button:hover {
    cursor: pointer;
}
ul {
    list-style-type: none;
}

.container {
    min-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
h1 {
    color: #fff;
    font-size: 3rem;
}
.form {
    margin: 40px 0px;
}
.input {
    width: 250px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    font-size: 1rem;
}
.add {
    background-color: rgb(219,99,48);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 7px;
    font-size: 1.2rem;
}

.tasksList {
    min-width: 350px;
}

.listElem {
    background-color: #fff;
    padding: 10px;
    font-size: 1.1rem;
}
.listElem:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.listElem:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.checkbox {
    margin-right: 10px;
}
.delete {
    float: right;
    background-color:rgb(219,99,48) ;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 2px 5px;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: 550;
}

.checked {
    text-decoration: line-through;
}
